---
import Layout from "../layouts/Layout.astro";
import Checklist from "../components/Checklist.astro";
import Settings from "../components/Settings.astro";
---

<script>
	var targetTime = new Date();
	targetTime.setUTCDate(targetTime.getUTCDate() + 1);
</script>

<Layout title="GW2 Reset Checklist">
	<header class="w-full justify-between flex-wrap inline-flex">
		<div class="mb-2">
			<h1 class="text-2xl font-black">
				<nobr>Guild Wars 2</nobr>
				<nobr>Reset Checklist</nobr>
			</h1>
			<div class="text-xs">
				Timegated tasks without an ingame tracking system
			</div>
		</div>
		<Settings />
	</header>
	<Checklist />
	<footer class="flex flex-col w-fit mx-auto p-2 justify-center">
		<div class="text-sm w-fit">© henahax.de 2023</div>
		<div class="w-fit mx-auto">
			<a
				href="https://github.com/Henahax/GW2-Reset-Checklist"
				class="text-xs mx-auto text-neutral-400 hover:opacity-50 hover:underline">
				Sourcecode
			</a>
		</div>
	</footer>
</Layout>
