---
import Category from "./Category.astro";
import categories from "../../public/categories.json";
---

<div class="categories columns-3 mx-auto w-fit p-2 gap-x-2">
	{categories.map((category) => <Category {category} />)}
</div>

<style>
		.categories {
		column-width: 24rem;
	}
</style>