---
import SettingsItem from "./SettingsItem.svelte";
import json from "../../public/items.json";

const { category } = Astro.props;

type Item = {
  id: string;
  name: string;
  category: string;
  interval: string;
  sort: number;
  icon: string;
  info: string;
  link: string;
  default?: boolean;
  timer?: {
    duration: [number, number];
    times: Array<[number, number, string?]>;
  };
};

const items: Item[] = json as Item[];
---

<div class="settingsCategory mb-4 break-inside-avoid-column">
	<div class="inline-flex">
<h2 class="text-l font-bold mx-1">{category.name}</h2>
	</div>
	<ul class="flex flex-col gap-0">
		{
			items
				.filter((item:Item) => item.category.indexOf(category.id) !== -1)
				.map((item:Item) => <SettingsItem client:only="svelte" item={item}/>)
		}
	</ul>
</div>
