---
import SettingsCategory from "./SettingsCategory.astro";
import categories from "../../public/categories.json";
import ResetTimer from "../components/ResetTimer.svelte";
---

<div class="flex flex-wrap flex-col ml-auto">
	<div class="inline-flex gap-2 my-auto ml-auto text-xs">
		<div class="text-right">
			<div>Daily:</div>
			<ResetTimer client:only="svelte" mode={1} />
		</div>
		<div class="text-right">
			<div>Weekly:</div>
			<ResetTimer client:only="svelte" mode={2} />
		</div>

		<div class="relative flex flex-wrap flex-col">
			<button
				id="toggleButton"
				class="text-2xl hover:brightness-125 text-neutral-300">
				<i class="fa-solid fa-gear"></i>
			</button>
			<div
				id="settings"
				class="settings bg-neutral-900 rounded-2xl p-4 absolute w-max z-10 border border-neutral-600 shadow-lg top-9 right-0 hidden">
				<h2 class="text-xl font-bold px-2 pb-4 text-center">
					Displayed Items
				</h2>
				<div class="settingsContainer m-auto w-fit">
					{
						categories
							.sort((a, b) => (a.index > b.index ? 1 : -1))
							.map((category) => <SettingsCategory {category} />)
					}
				</div>
				<div class="inline-flex w-full">
					<button
						id="settingsOk"
						class="mx-auto border rounded bg-neutral-700 border-neutral-600 hover:opacity-80 w-32 p-1 mt-8">
						OK
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="inline-flex gap-x-2 justify-end p-2 text-xs animate-pulse">
		<div>Choose displayed items (~50 avaliable)</div>
		<i class="fa-solid fa-arrow-turn-up"></i>
	</div>
</div>

<script>
	const settingsButton: HTMLElement =
		document.getElementById("toggleButton")!;
	const settingsOk: HTMLElement = document.getElementById("settingsOk")!;
	const settings: HTMLElement = document.getElementById("settings")!;

	let visible = false;

	function toggleSettings() {
		visible = !visible;
		if (visible) {
			settings.classList.remove("hidden");
			settings.classList.add("visible");
		} else {
			settings.classList.remove("visible");
			settings.classList.add("hidden");
			location.reload();
		}
	}

	settingsButton.addEventListener("click", toggleSettings);
	settingsOk.addEventListener("click", toggleSettings);
</script>

<style>
	.hidden {
		display: none;
	}

	.visible {
		display: block;
		position: absolute;
	}

	
	.settingsContainer {
		columns: 3 18rem;
	}

	#settings {
		max-width: calc(100vw - 3rem);
	}
	
</style>
