header {
  margin: auto 1rem 1rem 1rem;
}

div:empty {
  display: none;
}

#titles {
  display: flex;
}

#subTitle {
  font-size: smaller;
  display: inline-flex;
}

#subTitle {
  display: flex;
  width: 100%;
  gap: 2rem;
}

#subTitleLeft {
  margin: auto auto auto 0;
  text-align: left;
}

#subTitleRight {
  margin: auto 0 auto auto;
  text-align: right;
  max-width: 16rem;
}

header #timers {
  text-align: right;
  font-size: 0.75rem;
  display: inline-flex;
  gap: 1rem;
  margin: auto 0 auto auto;
}

.timer {
  margin: auto 0 auto auto;
  text-align: right;
  width: fit-content;
}

.eventTimer {
  font-size: 0.75rem;
  display: flow;
  text-align: right;
  margin: auto 0 auto auto;
  gap: 0.32rem;
}

.eventActive {
  color: greenyellow;
}
.timerActive{
  display: inline-flex;
  margin: auto 0.5rem;
}

.timerText{
  display: inline-flex;
  margin: auto 0;
}

.timerNumbers{
  display: inline-flex;
  gap: 0.25rem;
}

h1 {
  font-size: xx-large;
  margin: 0;
}

@keyframes slideaway {
  from {
    display: block;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

#settings {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
  width: calc(100% - 2rem);
  background-color: #161719;
  border-radius: 1rem;
}

#closeSettings {
  display: inline-flex;
  margin: 1rem;
  width: -webkit-fill-available;
  border: none;
  background-color: #161719;
}

#closeSettings button {
  margin: auto 0 auto auto;
  background-color: #343a40;
  color: #dee2e6;
  height: 2rem;
  width: 2rem;
  font-size: large;
  border: none;
  border-radius: 0.25rem;
}

.hide {
  animation: slideaway 200ms;
  display: none;
}

.settingsButton {
  border: none;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #343a40;
  border-radius: 0.25rem;
}

button:hover {
  filter: brightness(1.25);
}

button:active {
  filter: brightness(0.75);
}

.settingsHeader {
  margin: 1rem auto 1rem auto;
  text-align: center;
}

#settings ul {
  margin: 0 auto 0 auto;
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  max-width: 28rem;
}

#settingCategories {
  column-width: 32rem;
  column-count: 3;
  width: fit-content;
  margin: auto;
}

.settingCategory {
  break-inside: avoid-column;
}

.settingCategory h4 {
  margin: 1rem auto 0 auto;
  max-width: 28rem;
}

.settingsItem {
  display: inline-flex;
}

.settingsItem label {
  display: inline-flex;
  width: 100%;
  margin: 0 0.5rem 0 0.5rem;
}

#categories {
  column-width: 32rem;
  column-count: 3;
  width: fit-content;
  margin: auto;
}

.category {
  break-inside: avoid-column;
  background-color: #031633;
  border-radius: 1rem;
  margin: 0 auto 1rem auto;
  padding: 0.75rem;
  max-width: 32rem;
  height: fit-content;
}

.category h2 {
  font-size: 1rem;
  padding: 0;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.category ul {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
}

.category:not(:has(ul):has(li)) {
  display: none;
}

.item {
  display: inline-flex;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  min-height: 2rem;
  min-width: 2rem;
  margin: auto 0 auto 0;
  background-color: transparent;
  border-color: #495057;
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 2px;
}

input[type="checkbox"]:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item label {
  display: contents;
  gap: 0.25rem;
}

.item img {
  height: 2rem;
  width: 2rem;
  margin: auto 0.75rem auto 0.75rem;
}

.item .lineContainer {
  display: flex;
  flex-direction: column;
}

.link {
  margin: auto 0 auto auto;
  opacity: 0.5;
  font-size: 0.75rem;
  display: inline-flex;
  color: #dee2e6;
  text-decoration: none;
  border-radius: 0.25rem;
}

.link:hover {
  opacity: 1;
}

.right {
  margin: auto 0 auto auto;
  text-align: right;
}

.rightTop {
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.rightBottom {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.interval {
  margin: auto 0 auto 0.5rem;
  opacity: 0.5;
  font-size: 0.75rem;
  display: inline-flex;
}

.settingsItem .interval{
  margin: auto 1rem;
}

.category:not(:has(input[type="checkbox"]:not(:checked))) h2 {
  font-size: 0.75rem;
  text-decoration: line-through;
  opacity: 0.5;
}

.item input[type="checkbox"]:checked {
  transform: scale(0.75);
}

.item:has(input[type="checkbox"]:checked) {
  text-decoration: line-through;
  opacity: 0.5;
}

.item:has(input[type="checkbox"]:checked) img {
  transform: scale(0.75);
}

.item:has(input[type="checkbox"]:checked) .text .name {
  font-size: 0.75rem;
}

.item:has(input[type="checkbox"]:checked) .text .info {
  font-size: 0.5rem;
}

.item:has(input[type="checkbox"]:checked) .link {
  transform: scale(0.75);
}

.item:has(input[type="checkbox"]:checked) .interval {
  font-size: 0.5rem;
}

li:has(input[type="checkbox"]:checked) .eventTimer {
  display: none;
}

li:has(input[type="checkbox"]:checked) .rightBottom {
  display: none;
}

.info {
  opacity: 0.5;
  font-size: 0.75rem;
}

#footer {
  display: inline-flex;
  width: 100%;
  font-size: smaller;
}

#footer > * {
  margin: auto;
}
