body{
    background-color: #212529;
    color: #dee2e6;
    font-family: sans-serif;
    font-size: 1rem;
    margin: auto;
    line-height: 1.5;
}

#root{
    margin: auto;
    width: fit-content;
}

header{
    display: inline-flex;
    width: -webkit-fill-available;
    margin: 0.5rem 1.75rem 0.5rem 1.75rem;
}

header .subTitle{
    font-size: smaller;
}

header #timers{
    text-align: right;
    font-size: 0.75rem;
    display: inline-flex;
    gap: 1rem;
    margin: auto 0 auto auto;
}

.timer{
    margin: auto 0 auto auto;
}

h1{
    font-size: xx-large;
    margin: 0;
}

@keyframes slideaway {
    from { display: block; }
    to { transform: translateY(40px); opacity: 0;}
  }

#settings{
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #161719;
    border-radius: 1rem;
}
 
  .hide {
    animation: slideaway 200ms;
    display: none;
  }

  .settingsButton{
    border: none;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #343a40;
    border-radius: 0.25rem;
  }
  .settingsButton:hover{
    filter: brightness(1.25);
  }
  .settingsButton:active{
    filter: brightness(0.75);
  }

  .settingsHeader{
    margin: 1rem auto 1rem auto;
    text-align: center;
  }


#settings ul{
    margin: 0 auto 0 auto;
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    max-width: 28rem;
}

.settingsItem{
    display: inline-flex;
}

.settingsItem label{
    display: inline-flex;
    width: 100%;
    margin: 0 0.5rem 0 0.5rem
}

.category{
    background-color: #031633;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.75rem;
    max-width: 32rem;
}

.category h2{
    font-size: 1rem;
    padding: 0;
    margin: 0 0.5rem 0.5rem 0.5rem
}

.category ul{
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1rem;
}

.item{
    display: inline-flex;
}

.item label{
    display: inline-flex;
    width: 100%;
}

.item img{
    height: 2rem;
    width: 2rem;
    margin: auto 0.25rem auto 0.25rem;
}

.item label .text{
    margin: auto 0.25rem auto 0.25rem;
}

.link{
    float: right;
    margin: auto 0 auto auto;
    opacity: 0.5;
    font-size: 0.75rem;
    display: inline-flex;
    color: #dee2e6;
    text-decoration: none;
    border-radius: 0.25rem;
}

.link:hover{
    opacity: 1;
}

.interval{
    float: right;
    margin: auto 0 auto 0.5rem;
    opacity: 0.5;
    font-size: 0.75rem;
    display: inline-flex;
}

.item:has(input[type="checkbox"]:checked) {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .item:has(input[type="checkbox"]:checked) img{
    transform: scale(0.75);
  }

  .item:has(input[type="checkbox"]:checked) .text .name{
    font-size: 0.75rem;
  }

  .item:has(input[type="checkbox"]:checked) .text .info{
    font-size: 0.5rem;
  }

  .item:has(input[type="checkbox"]:checked) .link{
    transform: scale(0.75);
  }

  .item:has(input[type="checkbox"]:checked) .interval{
    font-size: 0.5rem;
  }

input[type='checkbox'] {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    margin: auto 0.25rem auto 0.25rem;
    background-color:transparent;
    border-color: #495057;
    border-style: solid;
    border-radius: 0.25rem;
    border-width: 2px;
}

input[type='checkbox']:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.item input[type='checkbox']:checked {
    transform: scale(0.75);
}

.info{
    opacity: 0.5;
    font-size: 0.75rem;
}




