---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
			integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body class="bg-neutral-800">
		<slot />
	</body>
</html>
<style is:global>
	html {
		color-scheme: dark;
		padding: 1rem;
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
	}

	.tooltip {
		@apply invisible absolute inline-flex rounded-lg shadow-lg p-2 bg-black -mt-8 -ml-20 font-sans font-normal text-white w-max border border-neutral-800;
	}

	.has-tooltip:hover .tooltip {
		@apply visible z-50;
	}

	.categories {
		column-width: 24rem;
	}

	.settingsContainer {
		columns: 3 18rem;
	}

	.fade {
		animation: hideAnimation 0s ease-in 5s;
		animation-fill-mode: forwards;
	}
	@keyframes hideAnimation {
		to {
			visibility: hidden;
		}
	}

	li:has(input[type='checkbox']:checked) .eventTimer {
		display: none;
	}
</style>
